.body {
  background-color: #E6E6E6;
}

.jumbotron {
  background-color: #3C029A;
  color: #FFFFFF;
}

.panel-primary>.panel-heading {
  background-color: #3C029A;
  background-image: none;
}

.article-dropdown-icon {
  float: right;
}
