.body {
  background-color: #E6E6E6;
}

.jumbotron {
  background-color: #3C029A;
  color: #FFFFFF;
  margin-bottom: 0;
  padding-bottom: 0px;
}

.navbar-default  {
  background-color: #3C029A;
  background-image: none;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}

.navbar-collapse {
  border: none;
  box-shadow: none;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:focus {
  color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #AAAAAA ;
}

.panel-primary, .panel-default {
  border-radius: 5px;
  border-color: #3C029A;
}

.panel-primary>.panel-heading {
  background-color: #3C029A;
  background-image: none;
  border-radius: 0px;
  border-color: inherit;
}

.panel-default>.panel-heading {
  color: #3C029A;
  background-color: #FFFFFF;
  background-image: none;
  border-radius: inherit;
  border-color: inherit;
}

.panel-title > a:focus, a:hover {
  text-decoration: none;
}

.article-dropdown-icon {
  float: right;
}

.permalink {
  float: right;
}

.permalink > .glyphicon {
  padding-right: 5px;
}
